@use '../helpers/' as *;

.team {
  --personImageSize: #{rem(60)};

  display: flex;
  padding: rem(10);
  border-color: var(--color-dark-10);
  border-radius: rem(100);

  @include laptop {
    --personImageSize: #{rem(50)};

    padding: rem(8);
  }

  @include tablet {
    --personImageSize: #{rem(40)};
  }

  &__person {
    width: var(--personImageSize);
    border-color: var(--color-dark-15);
    border: rem(2) solid var(--color-dark-40);
    border-radius: 50%;

    @include laptop {
      border-width: rem(1);
    }

    &:not(:last-child) {
      margin-left: calc(var(--personImageSize) / 4 * -1)
    }
  }
}